name: Sync to Hugging Face hub
on:
  push:
    branches: [main]

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Add remote 
        env:
          HF: ${{ secrets.HF }}
        run: git remote add space https://lucasncortez:$HF@huggingface.co/spaces/LucasNCortez/ai-text-recognition-mlops-dl-ufrn
      - name: Push to hub
        env:
          HF: ${{ secrets.HF }}
        run: git push --force https://lucasncortez:$HF@huggingface.co/spaces/LucasNCortez/ai-text-recognition-mlops-dl-ufrn main
